//imputs
//2 варианта стиля -- пока не смогла определиться -- рамка и сплошное поле
%input-base {
    @include p-sm;
    border-radius: $radi-s;
    height: 2.4rem;
    }

    @mixin input-flat {
    @extend %input-base;
    background: $neutral-050; 
    border: none; 
    }

    @mixin input-border {
    @extend %input-base;
    border:  $border-xs solid $neutral-200; 
    }