@import "./tokens.scss";
@import "./colors.scss";
@import "./typography.scss";



@mixin fixed-login {
    display: inline-flex;
    width: 14.75rem;
}

@mixin card-wrapper {
    background: $white;
    box-shadow: $card-shadow;
    border-radius: $radi-m;
    padding: $space-l;
    display: flex;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
//buttons

@mixin button-template {
    @include flex-row-center;
    border-radius: $radi-s;
    box-shadow: $btn-shadow;
    border: none;
}


@mixin button-l {
    @include button-template;
    padding: 0.75rem 0.875rem 0.75rem 1rem;
}

@mixin button-s {
    @include button-template;
    padding: 0.25rem 1rem;
}

@mixin btn-priority-extra {
background: $primary-500;
    color: $white;
}

//animations


