@import "./tokens.scss";
@import "./colors.scss";
@import "./typography.scss";

@mixin reset {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

@mixin fixed-login 
    {
    display: inline-flex;
    width: 14.75rem;
    
    }

@mixin card-wrapper 
    {
    background: $white;
    box-shadow: $card-shadow;
    border-radius: $radi-m;
    padding: $space-l;
    display: flex;
    }

@mixin flex-row-center 
    {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }


//buttons

@mixin button-template {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    border-radius: $radi-s;
    box-shadow: $btn-shadow;
    border: 0;
    cursor: pointer;
    &:hover,
    &.hover {
        box-shadow: $btn-shadow-inner;
        transform: translateZ(0) scale(1.03);
    }
    &:active,
    &.active {
        transition: none;
        box-shadow: none;
        outline: 0;
        outline-offset: 0;
        transform: translateZ(0) scale(1);
    }
    &:focus,
    &.focus {
        box-shadow: none;
        transform: translateZ(0) scale(1);
        outline: 0;
        outline-offset: 0;
    }
}


@mixin button-l {
    padding: 0.75rem 0.875rem 0.75rem 1rem;
}

@mixin button-s {
    padding: 0.25rem 1rem;
}

@mixin btn-priority-extra {
    background: $primary-500;
    color: $white;
}

@mixin btn-priority-hight 
    {
    background: $neutral-700;
    color: $white;
    }

 @mixin btn-priority-normal 
    {
     background: $white;
     color: $primary-500;
    }
    @mixin btn-priority-low
    {
        background: $white;
        color: $neutral-400;
    }


//animations


